@using BusnLogicLaag
@model List<Onderdeel>

@{
    ViewData["Title"] = "AlleOnderdelenTonen";
}

<h1>Alle Onderdelen</h1>

<table class="table">
  <thead>
    <tr>
     <th>
       Plaatje
     </th>
     <th>
       ID
     </th>
     <th>
       Categorie
     </th>
     <th>
       Prijs
     </th>
     <th>
       Titel
     </th>
    <th></th>
   </tr>
  </thead>
 <tbody>

@foreach (Onderdeel item in Model) {
  <tr>
   <td>
    <img src="~/Images/@item.FileAdress" class="rounded" width="70" height="70" asp-append-version="true" />
   </td>
   <td>
    @Html.DisplayFor(modelItem => item.ID)
   </td>
   <td>
    @Html.DisplayFor(modelItem => item.DeCategory)
   </td>
   <td>
    @Html.DisplayFor(modelItem => item.Prijs)
   </td>
   <td>
    @Html.DisplayFor(modelItem => item.Titel)
   </td>
   <td>
    <div class="btn-group">
      <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-info">Beoordelen</a>
      <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm btn-danger m1-1">Review plaatsen</a>
    </div>
   </td>
  </tr>
}
 </tbody>
</table>
