@using BusnLogicLaag
@model List<ReviewVM>

@{
    ViewData["Title"] = "ReviewsVanGebr";
}

<h1>Mijn reviews</h1>

<table class="table">
  <thead>
    <tr>
     <th>
       Titel
     </th>
     <th>
       Beschrijving
     </th>
     <th>
       Datum
     </th>
    <th></th>
   </tr>
  </thead>
 <tbody>

@foreach (ReviewVM item in Model) {
  <tr>
   <td>
    @Html.DisplayFor(modelItem => item.Titel)
   </td>
   <td>
    @Html.DisplayFor(modelItem => item.StukTekst)
   </td>
   <td>
    @Html.DisplayFor(modelItem => item.DatumTijd)
   </td>
   <td>
    <div class="btn-group">
      <a asp-controller="Review" asp-action="ReviewVerwijderen" asp-route-id="@item.ID" class="btn btn-sm btn-danger m1-1">Verwijderen</a>
      <a asp-controller="Review" asp-action="ReviewUpdaten" asp-route-id="@item.ID" class="btn btn-primary">Updaten</a>
    </div>
   </td>
  </tr>
}
 </tbody>
</table>
