@using BusnLogicLaag
@model List<Outfit>

@{
    ViewData["Title"] = "AlleOutfitsTonen";
}

<h1>Alle outfits</h1>
<div class="row">
<div class="col">
<div class="leftside d-flex justify-content-center align-items-center" style="margin-top:40px">
<table class="table">
  <thead>
    <tr>
     <th>
       Outfit
     </th>
     <th>
       Categorie
     </th>
     <th>
       Prijs
     </th>
     <th>
       Titel
     </th>
    <th></th>
   </tr>
  </thead>
 <tbody>

@foreach (Outfit item in Model) {
  <tr>
   <td>
    <img src="~/Images/@item.FileAdress" class="rounded" width="70" height="70" asp-append-version="true" />
   </td>
   <td>
    @Html.DisplayFor(modelItem => item.DeCategory)
   </td>
   <td>
    @Html.DisplayFor(modelItem => item.Prijs)
   </td>
   <td>
    @Html.DisplayFor(modelItem => item.Titel)
   </td>
   <td>
    <div class="btn-group">
    <a asp-controller="Outfit" asp-action="OutfitRatingAanmaken" asp-route-id="@item.ID" class="btn btn-primary"  style="background-color:white; color:#0096FF; border-color:white">Beoordelen</a>
    <a asp-controller="Review" asp-action="ReviewAanmakenOutfit" asp-route-id="@item.ID" class="btn btn-primary"  style="background-color:white; color:#0096FF; border-color:white">Reviewen</a>
    <a asp-controller="Review" asp-action="ToonAlleReviewsOutfit" asp-route-id="@item.ID" class="btn btn-primary"  style="background-color:white; color:#0096FF; border-color:white">Alle reviews</a>
    </div>
   </td>
  </tr>
}
</tbody>
</table>
</div>
