@using BusnLogicLaag
@model List<Outfit>

@{
    ViewData["Title"] = "AlleOutfitsTonen";
}

<h1>Alle outfits</h1>


<table class="table">
  <thead>
    <tr>
     <th>
       Plaatje
     </th>
     <th>
       ID
     </th>
     <th>
       Categorie
     </th>
     <th>
       Prijs
     </th>
     <th>
       Titel
     </th>
    <th></th>
   </tr>
  </thead>
 <tbody>

@foreach (Outfit item in Model) {
  <tr>
   <td>
    <img src="~/Images/@item.FileAdress" class="rounded" width="70" height="70" asp-append-version="true" />
   </td>
   <td>
    @Html.DisplayFor(modelItem => item.ID)
   </td>
   <td>
    @Html.DisplayFor(modelItem => item.DeCategory)
   </td>
   <td>
    @Html.DisplayFor(modelItem => item.Prijs)
   </td>
   <td>
    @Html.DisplayFor(modelItem => item.Titel)
   </td>
   <td>
    <div class="btn-group">
      <a asp-controller="Outfit" asp-action="OutfitRatingOpslaan" asp-route-id="@item.ID" class="btn btn-primary">Beoordelen</a>
     <a asp-controller="Outfit" asp-action="OutfitReviewOpslaan" asp-route-id="@item.ID" class="btn btn-primary" style="background-color:purple">Reviewen</a>
    </div>
   </td>
  </tr>
}
 </tbody>
</table>
